.footer{
    padding: 40px 0 135px;
    border-top: 1px solid #ccc;
}
.footer-wrap{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 1040px;
    margin: 0 auto;
}
.group-info{
    .info-list{
        display: flex;
        .info-item{
            .title{
                font-weight: 500;
                font-size: 16px;
                letter-spacing: -0.4px;
                padding-bottom: 20px;
                margin-right: 110px;
            }
            .sub-list{
                display: flex;
                flex-direction: column;
                gap: 10px;
                line-height: 20px;
                color: #666;
                letter-spacing: -0.35px;
                .sub-item{
                    .sub-wrap{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                    }
                    .sub{
                        &.strong{
                            text-decoration: underline;
                            font-weight: bold;
                        }
                        &.tal{
                            position: relative;
                            color: #ff005a;
                            padding-left: 25px;
                            &::before{
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                top: 0;
                                left: 0;
                                background: url(../img/footer/ic-taling.png) no-repeat center;
                                background-size: 20px;
                                content: '';
                            }
                        }
                        &.time{
                            line-height: 19px;
                            letter-spacing: -0.35px;
                            color: #111;
                        }
                    }
                }
            }
        }
    }
}
.flex-wrap{
    display: flex;
    gap: 29px;
    .wrap{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .group-addr{
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 12px;
            line-height: 18px;
            color: #999;
            letter-spacing: -0.3px;
            .addr-wrap{
                display: flex;
                .addr{
                    &+.addr{
                        position: relative;
                        margin-left: 10px;
                        &::before{
                            position: absolute;
                            top: 4px;
                            left: -5px;
                            width: 1px;
                            height: 12px;
                            background: #999;
                            content: '';
                        }
                    }
                }
                a{
                    position: relative;
                    margin-left: 10px;
                    &::before{
                        position: absolute;
                        top: 4px;
                        left: -5px;
                        width: 1px;
                        height: 12px;
                        background: #999;
                        content: '';
                    }
                }
            }
            .addr{
                position: relative;
            }
        }
        .group-corp{
            font-size: 12px;
            line-height: 18px;
            color: #999;
            letter-spacing: -0.3px;
        }
    }
    .group-sns{
        margin-top: 32px;
        .sns-list{
            display: flex;
            gap: 10px;
            .sns-item{
                .sns{
                    display: block;
                    width: 35px;
                    height: 35px;
                    &.fb{
                        background: url(../img/footer/fb.png) no-repeat center;
                        background-size: 35px;
                    }
                    &.in{
                        background: url(../img/footer/in.png) no-repeat center;
                        background-size: 35px;
                    }
                    &.yt{
                        background: url(../img/footer/yt.png) no-repeat center;
                        background-size: 35px;
                    }
                    &.nv{
                        background: url(../img/footer/nv.png) no-repeat center;
                        background-size: 35px;
                    }
                }
            }
        }
    }
}